body {
  font-family: 'Jost';
  margin: 0px;
  background-color: #333;
}

.tokenNavbar{
  background-image: url(../../../LogoToken/token.svg);
  width: 20px;
  height: 20px;
  margin-top: auto;
}

#tabBar{
  display: inline-block;
  left: 0px;
}
