* {
    padding: 0px;
    margin: 0px;
    transition: all 0.2s;
    /* text-align: center; */
    color: #36867D;
}

.contenitorelibrovrt {
    background-color: #DFF0E4;
    display: inline-block;
    margin: auto;
    padding: auto;
    overflow: auto;
    box-sizing: border-box;
    
}

#toplibrovrt {
    background-color: transparent;
    width: 25%;
    height: 70%;
    text-align: center;
    display: inline-block;
    float: left;
    padding-top: 5px;
    
}

#toplibrovrt img {
    background-color: #36867D;
    margin: 16px;
    border-radius: 10px;
    max-width: 150px;
    min-width: 150px;

}

#bodylibrovrt {
    height: 70%;
    display: inline-block;
    width: 70%;
    margin-top: 15px;
    
}

#descritionlibro {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 47px;
}

#footerbodylibrovrt {
    height: 10%;
    margin-right: 3%;
    display: block;
}

#footerlibrovrt {
    margin-left: 3%;
    margin-right: 3%;
    display: none;
    clear: both;
}

#locationlibrovrt {
    float: left;
}

#isbnlibrovrt {
    float: right;
}

@media only screen and (max-width: 992px) {
    #footerbodylibrovrt {
        display: none;
    }

    #footerlibrovrt {
        display: block;
    }

    .contenitorelibrovrt {
        height: 70%;
    }
}

@media only screen and (max-width: 678px) {

    .contenitorelibrovrt {
        padding: 0px;
        width: 100%;
        height: 190px;
    }

    #toplibrovrt {
        width: 30%;

    }

    #toplibrovrt img {
        max-width: 90px;
        min-width: 90px;
        margin-top: 13px;
    }

    #bodylibrovrt {
        width: 70%;
    }

    #descritionlibro {
        
        -webkit-line-clamp: 2;
       
    }


}