* {
    padding: 0px;
    margin: 0px;
}

.contenitorelibrovrt {
    background-color: #DFF0E4;
    margin: auto;
    padding: auto;
    overflow: auto;
    box-sizing: border-box;
    color: #36867D;
    transition: all 0.2s;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#toplibrovrt {
    background-color: transparent;
    width: 25%;
    height: 70%;
    text-align: center;
    display: inline-block;
    float: left;
    padding-top: 5px;
}

#toplibrovrt img {
    background-color: #36867D;
    margin: 16px;
    border-radius: 10px;
    max-width: 150px;
    min-width: 150px;
}

#bodylibrovrt {
    height: 70%;
    display: inline-block;
    width: 70%;
    margin-top: 17px;
}

#descritionlibro {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 47px;
    font-size: 14px;
}

#footerlibrovrt {
    margin-left: 3%;
    margin-right: 3%;
    display: block;
    clear: both;
}

#locationlibrovrt {
    float: left;
}

#isbnlibrovrt {
    float: right;
}