*{
    padding: 0px;
    margin: 0px;
}

.contenitorelibrovrt {
   padding: 0px;
   margin: 0px;
   background-color: #DFF0E4;
   height: 300px;
}

#toplibrovrt {
    background-color: #DFF0E4;
    width: 30%;
    height: 90%;
    text-align: center;
    display: inline-block;
    float: left;
    
}

#toplibrovrt img {
    background-color: #36867D;
    width: 80%;
    height: 80%; 
    border-radius: 10px;
    margin: 20px; 
    
}

#bodylibrovrt {
    padding-top: 10px;
    height: 80%;
    display: inline-block;
    width: 70%;
    float: right;
    padding-top: 20px;
}

#footerbodylibrovrt {
    bottom: 0px;
    height: 10%;
    margin-left: 9%;
    margin-right: 9%;
    display: block;
}

#footerlibrovrt {
    bottom: 0px;
    height: 10%;
    margin-left: 9%;
    margin-right: 9%;
    
}

#locationlibrovrt {
    float: left;
}

#isbnlibrovrt {
    float: right;
}


@media only screen and (max-width: 992px) {
    #footerbodylibrovrt {
        display: none;
    }

    hr {
        
    }
}