{% extends "master.html" %}

{% block title %}
  MyBooken esplora
{% endblock %}

{% block content %}

  {% if not mylibri %}
  <h1> Sembra che l'utente selezionato non abbia libri da scambiare </h1>
  
  {% endif %}

  <div class="row horizScroll">
    {% for x in mylibri %}
      <div class="card schedaLibro col-xs-4 col-md-4 col-lg-3">
        <a href="genera_codice/{{ x.id }}/">
          {% if x.immagine %}
            <img class="card-img-top immagine" src="{{ x.immagine.url }}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
              <h5 class="card-title titoloCarta">{{ x.titolo }}</h5>
          </div>
          <div class="card-footer">
              <small class="text-muted testoFooter">{{ x.autore }}</small>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}

