
  /* Gamja Flower*/
  @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
  /* Golos*/

  @import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');


  .inputHidden {
    display: none;
}
  #overlaybook {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#modalbook {
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-top: 20%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

button {
    width: 36px;
    height: 36px;
    background-color: #089FCA;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
    box-shadow: 1px 3px 3px rgba(0, 94, 121, 0.4);
    color: #FFFFFF;
    border: none;
}

#show-modalbook-btn {
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 10px;
    margin-bottom: 56px;
}

#close-modalbook-btn {
    float: right;
    margin: 10px;
}

.containeragglibro {
    border-radius: 5px;
    background-color: #A7DCEA;
    padding: 20px;  
}

input[type=text],
select,
textarea {
    width: 80%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
}

.col-25 {
    margin-left: 7%;
    margin-right: 7%;
}

.col-75 {
    margin-left: 7%;
    margin-right: 7%;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

#btnaggimg{
    width: 25px;
    height: 25px;
    display: inline-block;
}

#immagine {
    display: inline-block;
    opacity: 0;
    position: relative;
    z-index: 1;
}

#btnaggimg svg{
    transform: translate(-1px, -34.5px);
    display: inline-block;
    position: relative;
    z-index: 0;
}


#btn-usapositione{
    width: fit-content;
    height: 25px;
    background-color: transparent;
    box-shadow: none;
    color: black;
    text-decoration: underline;
}

#bnt-carica{
    font-family: 'Gamja Flower', cursive;
    font-size: large;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
}

.rowcontenitore{
    margin-left: 7%;
    margin-right: 7%;
}

.rowagglibro{
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    height: 100px;
    overflow-y: hidden;
}

.agglibroscroll{
    display: inline-block;
}

.categoria{
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    background-color: #DFF0E4;
    border-radius: 10px;
    margin-bottom: 3px;
    height: 25px;
    margin-right: 3px;
    color: #36867D;
}

input[type="checkbox"] {
    border: none;
    margin-top: 6px;
}

@media only screen and (max-width: 992px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
@media screen and (min-width: 992px){
    #modalbook {
        margin-top: 5%;
    }
}




#basicMap {
    display: block;
    z-index: 205;
    position: fixed;
    border-radius: 20px;
    width: 60%;
    height: 60%;
    top: 20%;
    left: -1000px;
    margin: 0px;

  }
#domanda{
    display: none;
    position: fixed;
    z-index: 204;
    left: 20%;
    top: 15%;
    margin: 0px;
    color: #36867D;
    width: 60%;
    background-color: #E1F1E5;
    padding: 3px;
    padding-bottom: 20px;
    font-family: 'Golos Text', sans-serif;

    border-radius: 10px 10px 0 0;
   
}
#bottoneRicerca{
    display: none;
    position: fixed;
    opacity: 1;
    z-index: 205;
    left: calc(50% - 75px);
    bottom: 12%;
    background-color: rgb(8, 159, 202);
    color: white;
    line-height: 45px;
    font-family: 'Golos Text', sans-serif;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    font-size: 24px;
    border: 0px;
    box-shadow: 0px 5px 5px rgba(0, 94, 121, 0.25);

}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 202;
  }
  @media screen and (max-width: 992px) {
    #basicMap{
      display: block;
      z-index: 205;
      position: fixed;
      border-radius: 20px;
      width: 80%;
      height: 60%;
      top: 21%;
      left: -1000px;
      margin: 0px;

    }
    #domanda{
      width: 80%;
      left: 10%;
      padding-bottom: 40px;
      top: 14%;


    }
    #bottoneRicerca{
    bottom: 11%;

    }
  }