*{
    padding: 0px;
    margin: 0px;
}
.row{
    --bs-gutter-x: 0;
    flex-wrap: nowrap;
    width: 100%;
}
.horizScroll{
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-top: 200px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */ 
}

.horizScroll::-webkit-scrollbar { 
display: none;  /* Safari and Chrome */
}

.schedaLibro{
    color: #36867D;
    max-width: 18rem;
    position: relative;
    min-height: 100%;
    padding: 40px;
    background-color: #E1F2E6;  
}
.schedaLibro a {
    color: #36867D;
    text-decoration: none;
}
.immagine{
    border-radius: 7%;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.titoloCarta{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
}
.testoFooter{
    color: #eee !important;
    position: absolute;
    bottom: 5%; 
}
