body{
    margin: 0px;
    padding: 0px;
}


#loghetto{
    position: relative;
    top: 20px;
    left: 45%;
}

#boxed{
    background-color: rgb(141, 255, 143);
    border-radius: 20px;
    width: 60%; 
    height: 367px;
    position: relative;
    left: 20%;
}
#formio{
    width: 60%;
    position: relative;
    left: 20%;
}

#registraz{
    width: 200px;
    position: relative;
    left: 25%;
    font-size: 30px;
   
}

#reg:hover{
    cursor: pointer;
    color: rgb(15, 15, 236);
    transition: all 1s;
    
}

#scritt{
    color: black;
    position: relative;
    left: 450px;
    font-size: 20px;
    bottom: 50px;
    display: inline-block;
}
