* {
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    padding-left: 10px;
}

.containersearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    height: 24px;
}

.containersearch input {
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

.containersearch button {
    top: 0;
    bottom: 0;
    padding: 0;
    margin-left: -25px;
    width: 25px;
    height: 25px;
}

#textsearch {
    border: transparent;
    border-radius: 10px;
    background-color: #A7DCEA;
}

#btnSubmit {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 10px;
    border: transparent;
}

#btnSubmit svg,
#openmap svg,
#closemap svg {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    color: #005E79;
}

.categoryscrollmenu {
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-y: hidden;
    margin-top: 15px;
    line-height: 22px;
}

.singlecategory {
    background-color: #DFF0E4;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 15px;
    height: 25px;
}

.singlecategory:hover {
    opacity: 0.7;
}

.singlecategory a {
    color: #36867D;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.containerschedalibri {
    width: 50%;
    left: 0px;
    display: inline-block;
    z-index: 0;
    position: relative;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.containermap {
    width: 50%;
    right: 0px;
    background-color: #777;
    padding: 20px;
    height: 100vh;
    z-index: 0;
}

/* Contenitore Mobile */
.containermapmobile {
    display: block;
    z-index: -1;
    width: 100%;
    height: 6900px;
}

.containerschedalibrimobile{
    display: block;
    width: 90%;
    margin: auto;
    padding: auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    width: 100%;
    height: 50%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    width: 36px;
    height: 36px;
    background-color: #A7DCEA;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
}

#show-modal-btn {
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 10px;
    margin-bottom: 56px;
    color: #005E79;
}

#close-modal-btn {
    float: right;
    right: 10px;
    top: 10px;
    margin: 10px;
    color: #005E79;
}

.containersearchpopup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    transform: translateY(-20px);
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    height: 24px;
}

.containersearchpopup input {
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

.containersearchpopup button {
    top: 0;
    bottom: 0;
    padding: 0;
    margin-left: -25px;
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 992px) {
    .containermapmobile {
        display: block;
    }

    .container-fluid {
        display: none;
    }

    .containersearch input {
        width: 50%;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .containerschedalibri {
        display: none;
    }

}

@media only screen and (min-width: 992px) {
    .containerschedalibrimobile{
        display: none;
    }

}