* {
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    padding-left: 10px;
}

.containersearch {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#textsearch {
    width: 40%;
    border: transparent;
    border-radius: 10px;
    background-color: lightblue;
}

#btnSubmit,
#btnFunnel {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 10px;
    border: transparent;
}

#btnFunnel svg,
#btnSubmit svg,
#openmap svg,
#closemap svg {
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.categoryscrollmenu {
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-y: hidden;
    margin-top: 15px;
    line-height: 22px;
}

.singlecategory {
    background-color: #333;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 15px;
    height: 25px;
}

.singlecategory:hover {
    opacity: 0.7;
}

.singlecategory a {
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.categoryscrollmenufiltrata {
    margin-top: 10px;
    line-height: 15px;
    display: flex;
   

}

.singlecategoryfiltrata {
    display: inline-block;
    color: gray;
    background-color: lightblue;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.singlecategoryfiltrata a {
    margin-left: 5px;
    text-decoration: none;
    font-size: 15px;
}

.nascosto {
    display: none;
}

/* Contenitore Bowser */
.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: -1;
}

.containerschedalibri {
    width: 50%;
    left: 0px;
    background-color: #333;
    padding: 20px;
    height: 100vh;
}

.containermap {
    width: 50%;
    right: 0px;
    background-color: #777;
    padding: 20px;
    height: 100vh;
    z-index: -1;
}

/* Contenitore Mobile */
.containermapmobile {
    visibility: hidden;
    z-index: -1;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    width: 100%;
    height: 50%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    width: 36px;
    height: 36px;
    background-color: lightblue;
    border-radius: 50px;
    border: transparent;
}

#show-modal-btn {
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 10px;
    margin-bottom: 56px;
}

#close-modal-btn {
    float: right;
    right: 10px;
    top: 10px;
    margin: 10px;
}

.containersearchpopup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    transform: translateY(-20px);
}


@media only screen and (max-width: 992px) {
    .containermapmobile {
        visibility: visible;
    }

    .container-fluid {
        visibility: hidden;
    }
}