<div id="bodybkg"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar1 navcontainer">
        <div class="container-fluid navcontainer">
            <div id="toggle"></div>

            <a class="navbar-brand" href="#">
                <div class="logonavbar" style="width: 100px;">
                    {% load static %}
                    <img src="{% static 'immagini/logo.svg' %}" alt="Logo">
                </div>
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Impostazioni</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Contattaci</a></li>
                </ul>
            </div>

            <!-- tabBar -->
            <div class=" navbar-collapse" id="tabBar">
                <div>
                    <a class="nav-link" href="#">Esplora <i class="bi bi-search" style="font-size: 17px;"></i></a>
                </div>
                <div>
                    <a class="nav-link" href="#">I miei libri <i class="bi bi-book" style="font-size: 17px;"></i></a>
                </div>
                <div>
                    <a class="nav-link" href="#">Chat <i class="bi bi-chat-left" style="font-size: 17px;"></i></a>
                </div>
            </div>
            <div id="toggletoken">
                <p>2</p>
            </div>

            <div id="sidebar">
                <ul>
                    <li><a class="nav-link" href="#">Profilo</a></li>
                    <li><a class="nav-link" href="#">Impostazioni</a></li>
                    <li><a class="nav-link" href="#">Contattaci</a></li>
                    <div class="footerNavbar">
                        {% load static %}
                        <img src="{% static 'immagini/logo.svg' %}" alt="LogoFooter" style="width: 100px;"> &copy2023
                    </div>
                </ul>
            </div>
            <div id="sidebartoken">
                <ul>
                    <li>
                        <center>
                            {% load static %}
                            <img src="{% static 'immagini/token.svg' %}" alt="token"
                                style="width:50%; height:50%; align-items: center; margin-bottom: 7px;">
                            <h3>Hai 2 Raton su 10</h3>
                        </center>
                    </li>
                    <div class="vertical-menu">
                        <li>
                            <h6>0/5 Scambia 5 libri</h6>
                        </li>
                        <li>
                            <h6>0/50 Scambia 50 libri</h6>
                        </li>
                        <li>
                            <h6>0/100 Scambia 100 libri</h6>
                        </li>
                        <li>
                            <h6>0/200 Scambia 5 libri</h6>
                        </li>
                        <li>
                            <h6>0/500 Scambia 50 libri</h6>
                        </li>
                        <li>
                            <h6>0/1000 Scambia 100 libri</h6>
                        </li>
                        <hr>
                        <h5>Complete:</h5>
                        <li>
                            <h6>5/5 Scambia 5 libri</h6>
                        </li>
                        <li>
                            <h6>0/5 Scambia 5 libri</h6>
                        </li>
                        <li>
                            <h6>0/50 Scambia 50 libri</h6>
                        </li>
                        <li>
                            <h6>0/100 Scambia 100 libri</h6>
                        </li>
                        <li>
                            <h6>0/200 Scambia 5 libri</h6>
                        </li>
                        <li>
                            <h6>0/500 Scambia 50 libri</h6>
                        </li>
                        <li>
                            <h6>0/1000 Scambia 100 libri</h6>
                        </li>
                    </div>
                </ul>
            </div>

        </div>
    </nav>



    <!-- Footer -->
    <footer class="col-xs-12 col-md-12 col-lg-12">
        {% load static %}
        <a href="#"><img src="{% static 'immagini/logo.svg' %}" alt="Logo MyBooken" id="imglogofooter"></a>
        | &copy 2023
    </footer>