*{
    padding: 0px;
    margin: 0px;
}

.row{
    flex-wrap: nowrap;
}

.horizScroll{
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.schedaLibro{
    color: #36867D;
    max-width: 30%;
    position: relative;
    min-height: 70%;
    padding: 40px;
    background-color: #DFF0E4;
   
}

.immagine{
    border-radius: 7%;
}

.titoloCarta{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 14px;
}

.testoFooter{
    color: #36867D !important; 
    position: absolute;
    bottom: 5%;
    font-size: 12px;
}
