.schedeLibro{
    height: 400px;
    padding: 20px;
    background-color: grey;
    border: 2px solid black;
    text-align: left;
    position: relative;
}
.immagine{
    border-radius: 7%; 
}
.titolo{

}
.autore{
   position: absolute;
   bottom: 0px;
}