.schedaLibro{
    color: #eee;
    max-width: 18rem;
}
.horizScroll{
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    max-height: 400px;
    margin-top: 200px;
}

.prova{
    padding: 40px;
    background-color: #313030;    
}
.titoloCarta{
    
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-all;
}


.immagine{
    border-radius: 7%;
}
.row{
    flex-wrap: nowrap;
}
.testoFooter{
    color: #eee !important;
}
