.schedaLibro{
    color: #eee;
}
.horizScroll{
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.prova{
    padding: 40px;
    background-color: #313030;    
}
.titoloCarta{
    
    white-space: pre-line;
    
}
.card-text{
    max-width: 20rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;

}
.immagine{
    border-radius: 7%;
}
.row{
    flex-wrap: nowrap;
}
.testoFooter{
    color: #eee !important;
}