{% extends "masterAuth.html" %}

{% block title %}
  Login MyBooken
{% endblock %}

{% block content %}

    {% if messages %}
        {% for ms in messages %}
            {{ ms }}
        {% endfor %}
    {% endif %}
    <div class="BoxRegistrazione">
        <form action = "" method = POST>
            {% csrf_token %}
            Username: <input type = "text" name = "username"><br>
            Password: <input type = "password" name = "password"><br>
            <input type = "submit" value = "Submit">
        </form>
        <a href="{% url 'registrazione' %}"> Registrati </a>
    </div>


{% endblock %}