{% extends "masterAuth.html" %}

{% block title %}
  Login MyBooken
{% endblock %}

{% block content %}

    

    {% load static %}
    
      
    <img src="{% static 'immagini/logo quad.svg' %}" width="120 px" height="120 px" id="loghetto">

    {% if messages %}
      {% for ms in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ ms }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      {% endfor %}
    {% endif %}
    <div class="container BoxRegistrazione">


        <form class="forms"action = "" method = POST>
            {% csrf_token %}
          <!-- Email input -->
          <div class="form-outline mb-4 input">  
            <label class="form-label" for="form2Example1">USERNAME</label>
            <input type="text" name = "username" id="form2Example1" class="form-control" placeholder="username" />
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4 input"> 
            <label class="form-label" for="form2Example2"">PASSWORD</label>
            <input type="password" name = "password" id="form2Example2" class="form-control" placeholder="password" />
          </div>
        
          
          <!-- 2 column grid layout for inline styling -->
          <div class="final">

          <!-- Register buttons -->

            <a type="button" class="btn btn-secondary btn-block mb-4" id="registrati" href="{% url 'registrazione' %}">REGISTRATI</a>
       
          <!-- Submit button -->
          <button type="Submit" class="btn btn-primary btn-block mb-4" id="accedi" value="Submit">ACCEDI</button> 
          </div>
          <div class="row mb-4">
            <div id="PassDim">
              <!-- Simple link -->
              <a href="{% url 'recupera' %}" id="PasswordDimenticata">Password dimenticata?</a>
            </div>
          </div>
        </div>
        </form>
        </div>
        
        <div id="fine">
          <a href="mailto:mybooken.noreply@gmail.com"><strong style="color:rgb(11, 138, 128)">My Booken | &copy 2023</strong></a> 
          </div>

{% endblock %}

 