

{% block title %}
  Aggiungi libro MyBooken
{% endblock %}

{% block headCss %}


{% load static %}
<link rel="stylesheet" href="{% static 'CSS/mappa.css' %}">

{% load static %}
<link rel="stylesheet" href="{% static 'CSS/aggiuntaLibri.css' %}">
{% endblock %}

{% block content %}


<button type="button" id="show-modalbook-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="34"
  fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd"
      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
</svg>
</button>

<div id="overlaybook">
<div id="modalbook">
  <button type="button" id="close-modalbook-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="34px" fill="currentColor" class="bi bi-x"
          viewBox="0 0 16 16">
          <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
      </svg>
  </button>

  <div class="containeragglibro">
      <form action="/libri/aggiungi_libro" method="POST">
        {% csrf_token %}
          <div class="row1">
              <div class="col-25">
                  <label>ISBN:</label>
              </div>
              <div class="col-75">
                  <input type="text" id="isbn" name="isbn" placeholder="000-00-00000-00-0" maxlength="13"
                      minlength="13" required>
              </div>
          </div>
          <div class="row1">
              <div class="col-25">
                  <label>Inserisci il titolo:</label>
              </div>
              <div class="col-75">
                  <input type="text" id="titolo" name="titolo" placeholder="Titolo..." required>
              </div>
          </div>
          <div class="row1">
              <div class="col-25">
                  <label>Inserisci l'autore:</label>
              </div>
              <div class="col-75">
                  <input type="text" id="autore" name="autore" placeholder="Autore..." required>
              </div>
          </div>
          <div class="row1">
              <div class="col-25">
                  <label>Inserisci la posizione:</label>
                  <label>
                      <button id="btn-usapositione" type="button"> Usa la posizione del tuo profilo</button>
                  </label>
              </div>
              <div class="inputHidden"> 
                <input type="text" name = "longitudine" id="longitudine" value="" placeholder="" />
              </div>
              <div class="inputHidden">
                <input type="text" name = "latitudine"  id="latitudine" value="" placeholder="" />
              </div>
              <div class="col-75">
                  <input type="text" id="citta" name="citta" placeholder="Posizione..." required>
              </div>
          </div>
          <div class="row1">
              <div class="col-25">
                  <label>Inserisci una descrizione:</label>
              </div>
              <div class="col-75">
                  <textarea id="descrizione" name="descrizione" placeholder="Descrizione..."
                      style="height:70px"></textarea>
              </div>
          </div>
          <div class="row1">
              <div class="col-25">
                  <label>Aggiungi immagine</label>
                  <button type="button" id="btnaggimg">
                      <input type="file" name="immagine" accept="image/*" id="id_immagine">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="currentColor"
                          class="bi bi-plus-lg" viewBox="0 0 17 11">
                          <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                      </svg>
                  </button>
              </div>
          </div>

          <Label style="margin-left: 7%;
          margin-right: 7%;">Categoria:</Label>
          <div class="rowcontenitore">
              <div class="rowagglibro">
                  <div class="agglibroscroll">
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="1"> Istruzione
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="2"> Letteratura e
                              narrativa
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="3"> Storia
                          </label>
                      </div>
                  </div>
                  <div class="agglibroscroll">
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="4"> Gialli e thriller
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="5"> Arte, cinema e
                              fotografia
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="6"> Romanzi
                          </label>
                      </div>
                  </div>
                  <div class="agglibroscroll">
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="7"> Biografia
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="8"> Avventura e azione
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="9"> Fumetti e manga
                          </label>
                      </div>
                  </div>
                  <div class="agglibroscroll">
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="10"> Fantascienza
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="11"> Distopia
                          </label>
                      </div>
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="12"> Fantasy
                          </label>
                      </div>
                  </div>
                  <div class="agglibroscroll">
                      <div class="categoria">
                          <label class="categoria">
                              <input type="checkbox" name="categoria" value="13"> Umorismo
                          </label>
                      </div>
                  </div>
              </div>
          </div>


          <center><button type="submit" id="bnt-carica">CARICA</button>
          </center>
      </form>



  </div>




</div>
</div>

<div id="overlay"></div>   
<div id="basicMap"></div>
<h3 id="domanda"> Seleziona la posizione corretta </h3>
<button type="button" id="bottoneRicerca">Okay</button>

  





{% load static %}
<script type="text/javascript" src="{% static 'JS/map.js' %}"></script>


{% endblock %}