{% extends "master.html" %}

{% block title %}
  MyBooken esplora
{% endblock %}


{% block headCss %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'CSS/esplora.css' %}">

  {% load static %}
  <link rel="stylesheet" href="{% static 'CSS/form.css' %}">
{% endblock %}

{% block content %}

  <!-- Form Search  ---------->
  <form action="" method="POST" class="containersearch">
    {% csrf_token %}
    
    <input type = "text" name = "cercaLibri" placeholder="Cerca titolo, autore, ISNB...">
    <button type="submit" id="btnSubmit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg></button>

    {% for c in categorie %}  
      <input type="checkbox" class="inputHidden" id="checkc{{c.pk}}" value={{c.pk}} name="categorie">
    {% endfor %}
  </form>
    

  <!--  Category Scrolling ------>
  <div class="categoryscrollmenu">
    {% for c in categorie %}
      <div class="singlecategory"><a href="#" data-id="c{{c.pk}}"">{{c.nomeCategoria}}</a></div>
    {% endfor %}
  </div>
  <!--  Filtered categories------>
  <div class="categoryscrollmenufiltrata">
    {% for c in categorie %}
      <div class="singlecategoryfiltrata nascosto" id="c{{c.pk}}">{{c.nomeCategoria}}<a href="#" data-id="c{{c.pk}}"> x</a>
      </div>
    {% endfor %}
</div>
  <!-- Contenitore Mobile ---->
    <div class="containermapmobile">
      <div class="containerschedalibrimobile">
      {% if not mylibri %}
        <h1> Sembra che non ci siano libri con le caratteristiche cercate </h1>
      {% endif %}
      {% for x in mylibri %}
        <div class="contenitorelibrovrt"><a href="dettagli_libro/{{ x.id }}">
          <div class="contenitorebodyvrt">
            <div id="toplibrovrt">
              {% if x.immagine %}
                <img class="card-img-top immagine" src="{{ x.immagine.url }}" alt="Card image cap">
              {% endif %}
            </div>
            <div id="bodylibrovrt">
                <h3><strong>{{ x.titolo }}</strong></h3>
                <h5><i>{{ x.autore }}</i></h5>
                <p id="descritionlibro">{{ x.descrizione }}</p>
            </div>
          </div>
          <div id="footerlibrovrt">
              <h6 id="locationlibrovrt" style="color: #000;">{{ x.citta }}</h6>
              <h6 id="isbnlibrovrt" style="color: #000;">ISBN: {{ x.isbn }}</h6>
          </div>
          <div class="data" style="display: none">{{ x.longitudine }},{{ x.latitudine }}</div>
        </a></div>
      {% endfor %}
    </div>
    <div class="mappa">
      <div id="basicMap">

      </div>
      
    </div>
  </div>


  <button type="button" id="show-modal-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
    fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
</svg>
</button>

  <script src="{% static 'JS/mappaEsplora.js'%}"></script>
  <script src="{% static 'JS/filtercategory.js'%}"></script>
{% endblock %}

