{% extends "master.html" %}

{% block title %}
  MyBooken I miei libri
{% endblock %}

{% block content %}

  <div class="row horizScroll">
    {% for x in mylibri %}
      <div class="card schedaLibro col-xs-4 col-md-4 col-lg-3">
        <a href="modifica_libro/{{ x.id }}">
          {% if x.immagine %}
            <img class="card-img-top immagine" src="{{ x.immagine.url }}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
              <h5 class="card-title titoloCarta">{{ x.titolo }}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted testoFooter">
              {{ x.autore }}
            </small>
            <a href="elimina_libro/{{ x.id }}">
              ELIMINA
            </a>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <a href="{% url 'aggiungi_libro' %}"> Aggiungi libro </a>
  {% include 'aggiuntaLibri.html' %}

  {% load static %}
  <script type="text/javascript" src="{% static 'JS/script.js' %}"></script>
{% endblock %}

