{% extends "master.html" %}

{% block title %}
  MyBooken I miei libri
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/esplora.css' %}">

  {% if messages %}
    {% for ms in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ ms }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {% endfor %}
  {% endif %}

  <div class="riga horizScroll">
    {% for x in mylibri %}
      <div class="contenitorelibrovrt col-xs-12 col-md-4 col-lg-3"><a href="modifica_libro/{{ x.id }}">
        <div class="contenitorebodyvrt">
          <div id="toplibrovrt">
            {% if x.immagine %}
              <img class="card-img-top immagine" src="{{ x.immagine.url }}" alt="Card image cap">
            {% endif %}
          </div>
          <div id="bodylibrovrt">
              <h3><strong>{{ x.titolo }}</strong></h3>
              <h5><i>{{ x.autore }}</i></h5>
              <p id="descritionlibro">{{ x.descrizione }}</p>
          </div>
        </div>
        <div id="footerlibrovrt1">
            <h6 id="locationlibrovrt" style="color: #000;">{{ x.citta }}</h6>
            <h6 id="isbnlibrovrt"><a href="elimina_libro/{{ x.id }}">ELIMINA</a></h6>
        </div>
        <div class="data" style="display: none">{{ x.longitudine }},{{ x.latitudine }}</div>
      </a></div>

    {% endfor %}
  </div>

  {% include 'aggiuntaLibri.html' %}

  {% load static %}
  <script type="text/javascript" src="{% static 'JS/script.js' %}"></script>
  
  {% load static %}
<script type="text/javascript" src="{% static 'JS/agglibro.js' %}"></script>
{% endblock %}

