body{
    padding: 0;
    margin: 0;
    background-color: rgb(146, 220, 218);
    text-align: center;
}

input[type="email"]{
    font-size: 16px;
}

input[type="email"]::-webkit-input-placeholder {
    color: rgb(88, 182, 158);
}

input[type="email"]:-moz-placeholder {
    color: rgb(88, 182, 158);
    opacity: 1;
}

input[type="email"]:-ms-input-placeholder {
    color: rgb(88, 182, 158);
}

input[type="email"]::-ms-input-placeholder {
    color: rgb(88, 182, 158);
}

input[type="email"]::placeholder {
    color: rgb(88, 182, 158);
}

#loghetto{
    position: relative;
    top: 40px;
}

.forms{
    position: relative;
    top: 25px;
}

#form2Example2{
    background-color: rgb(127, 212, 191);
    border: 0px;
}

#form2Example1{
    background-color: rgb(127, 212, 191);
    border: 0px;
}

.col{
    position: relative;
    margin: auto;
    left: -30px;
}

.form-outline{
    margin: auto;
    width: 50%;
}

label{
    float: left;
    color:rgb(64, 160, 136)
}

.row{
    position: relative;
    text-align: center;
}

#fine{
    position: relative;
    bottom: -124px;
}

.container {
    border-radius: 20px;
    background-color: #b6ecd9;
    width: 45%;
    height: 380px;
    position: relative;
    top: 90px;
  }
 
  @media screen and (max-width: 992px) {
    .col-xs-12, .col, .forms, .row {
      width: 100%;
      margin-top: auto;
    }

    .container{
        position: relative;
        width: 300px;
        height: 400px;
        margin: auto;
        top: 40px;
    }

    #form2Example2{
        width: 130%;
        margin: auto;
        float: left;
        position: relative;
        left: -20%;
    }
    
    #form2Example1{
       width: 130%;
       margin: auto;
       float: left;
       position: relative;
       left: -20%;
    }
    
    label{
        float: left;
        position: relative;
        left: -20%;
        color:rgb(64, 160, 136)
    }
    
    .final{
        position: relative;
        top: 80px;
        margin: auto;
    }
    
    .row{
        position: relative;
        left: 20px;
    }

    #fine{
        position: relative;
        bottom: -50px;
    }
    .form-check-input{
        position: relative;
        left: 117px;
        top: -50px;
    }

    .form-check-label{
        position: relative;
        left: 120px;
        top: -50px;
        width: 100%;
      }

      .col{
        position: relative;
        left: -70px;
        top: -30px;
      }

      .btn-primary{
        position: relative;
        top: -30px;
      }

      .text-center{
        position: relative;
        top: -30px;
      }
  }
  