{% extends "masterAuth.html" %}

{% block title %}
  Login MyBooken
{% endblock %}

{% block content %}
    {% load static %}
    <img src="{% static 'immagini/logo quad.svg' %}" width="120 px" height="120 px" id="loghetto">

    {% if messages %}
      {% for ms in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ ms }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      {% endfor %}
    {% endif %}

    <div class="container BoxRegistrazione">
        <form class="forms"action = "" method = POST>
            <h5 id="Istruzioni">Ti invieremo sulla mail un link per resettare la password</h5>
            {% csrf_token %}
            <div class="form-outline mb-4 input">  
                <label class="form-label" for="form2Example1">EMAIL</label>
                <input type="text" name = "email" id="form2Example1" class="form-control" placeholder="Email" />
              </div>
            <button type="Submit" class="btn btn-primary btn-block mb-4" id="accedi" value="Submit"><h6>Recupera password</h6></button>
        </form>
        <div class="row mb-4">
            <div id="PassDim">
              <!-- Simple link -->
              <a href="{% url 'login' %}" id="PasswordDimenticata">Torna al Login</a>
            </div>
          </div>
    </div>

    <div id="fine">
        <a href="mailto:mybooken.noreply@gmail.com"><strong style="color:rgb(11, 138, 128)">My Booken | &copy 2023</strong></a> 
        </div>
{% endblock %}

 