#overlaybook {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#modalbook {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;
}

button {
    width: 36px;
    height: 36px;
    background-color: #089FCA;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
    box-shadow: 1px 3px 3px rgba(0, 94, 121, 0.4);
    color: #FFFFFF;
}

#show-modalbook-btn {
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 10px;
    margin-bottom: 56px;
}

#close-modalbook-btn {
    float: right;
    margin: 10px;
}

.containeragglibro {
    border-radius: 5px;
    background-color: #A7DCEA;
    padding: 20px;
}

input[type=text],
select,
textarea {
    width: 80%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    margin-left: 7%;
    margin-right: 7%;
}

.col-75 {
    margin-left: 7%;
    margin-right: 7%;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media only screen and (max-width: 992px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}