*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: lightblue;
}

#toggle{
    float: left;
    left: 0px;
    width: 56px;
    height: 56px;
    background: lightseagreen;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    box-shadow: 0px 10px 0px #fff; /*Se si vuole avere solo 2 barre su burgermenu basta togliere box-shadow*/
    transform: translateY(-10px);
    transition: 0.2s;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.2s;
}


#sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: lightseagreen;
    transition: 0.2s;
}

#sidebar.active{
    left: 0px;
}

#sidebar ul{
    position: relative;
    margin-top: 50px;
}

#sidebar ul li{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
}

#sidebar ul li:hover{
    background: #03a9f4;
}

#sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
}


#divtokennav{
  display: flex;
  flex-direction: row;
  justify-content: space-between 2px;

}


#toggletoken{
  
  float: right;
  right: 0px;
  width: 56px;
  height: 56px;
  background: lightseagreen;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

#sidebartoken{
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: lightseagreen;
  transition: 0.2s;
}

#sidebartoken.active{
  right: 0px;
}

#sidebartoken ul{
  position: relative;
  margin-top: 50px;

}

#sidebartoken ul li{
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 10px 40px;
  
}

#sidebartoken ul li:hover{
  background: #03a9f4;
}

#sidebartoken ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 2px;
}


.tokenNavbar{
    background-image: url(../../../LogoToken/token.svg);
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
  }

  .footerNavbar{
    width: auto;
    display: flex;
    visibility: hidden;
  }

  #tabBar{
    display: inline-block;
    width: 40%;
    height: 56px;
    margin: 6px;
  }
  
  #tabBar div{
    width: 33%;
    text-align: center;
    margin: auto;
   }
  
   footer{
    height: 100px;
    position: fixed;
    bottom: 0;
    text-align: center;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: visible;
   }
  
   #imglogofooter{
    width: 100vw;
    height: 50px;
   }
  

@media only screen and (max-width: 992px)
{
  #tabBar{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    text-align: center;
  
  }

  #tabBar div{
    width: 33%;
    text-align: center;
    margin: auto;
   }

   #tabBar div a{
    justify-content: center;
   } 

   .footerNavbar{
    visibility: visible;
  }

  footer{
    visibility: hidden;
  }

  #toggle{
    visibility: visible;
  }


}

@media only screen and (min-width: 992px)
{

}