body {
  font-family: 'Jost';
  margin: 0px;
  background-color: #333;
}

.tokenNavbar{
  background-image: url(../../../LogoToken/token.svg);
  width: 20px;
  height: 20px;
  margin-top: auto;
}

.footerNavbar{
  width: auto;
  display: flex;
  visibility: hidden;
}

#tabBar{
  display: inline-block;
  width: 40%;
}

#tabBar div{
  width: 33%;
  text-align: center;
  margin: auto;
 }

 footer{
  height: 100px;
  position: fixed;
  bottom: 0;
  text-align: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: visible;
 }

 #imglogo{
  width: 100vw;
  height: 50px;
 }


@media only screen and (max-width: 992px)
{
  #tabBar{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    text-align: center;
  }

  #tabBar div{
    width: 33%;
    text-align: center;
    margin: auto;
   }

   #tabBar div a{
    justify-content: center;
   } 

   .footerNavbar{
    visibility: visible;
  }

  footer{
    visibility: hidden;
  }

}

@media only screen and (min-width: 992px)
{

  
}